
@media(min-width: 768px){

  .header{
    position:relative;
    display:flex;
    flex-direction: column;
    text-align: center;
    z-index:2000;
    
}
  .header-content{
    padding: 20px;
    text-align: center;
    

  }
}

@media(min-width: 1024px){
    .header {
    position:absolute;
    margin-top:8em;
    left:10%;
    z-index:-1;
    display: inline-block;
}
  .header-content{
    background-color: coral;
    padding: 20px;
    text-align: center;
    

  }

}
