@media(max-width:768px){
  .navbar{
    background-color: coral;
    color: #ffffff;
    padding: 7px;
    font-size:1em;
    height:400px;
    width: 100%;
    z-index:100;
    position:fixed;
    
}
  .tweet{
    display:none;
  }
  .arrow{
    float: right;
    font-size: 20px;
    color:tomato;
    margin-right : 72px;
  }
  
}
@media(min-width:768px){
  .navbar{
    background-color: coral;
    color: #ffffff;
    padding: 30px;
    font-size: 33px;
    height:400px;
    width: 100%;
    z-index:100;
    position:fixed;
    
}
  .tweet{
    font-size: 22px;
    float: right;
    margin-right: 1.5em;
  }
  .arrow{
    float: right;
    font-size: 20px;
    color:tomato;
    margin-right : 72px;
  }
  
}
@media only screen and (min-width: 1024px){
.logo{
  font-family: "Bungee",sans-serif;
  margin-left: 1.5em;
}
.navbar{
  background-color: #4056A1;
  color: #ffffff;
  padding: 30px;
  font-size: 33px;
  height: 100px;
  width: 100%;
  z-index:100;
  position:fixed;
  margin:0;
}
.tweet{
  font-size: 22px;
  float: right;
  margin-right: 1.5em;
}
.arrow{
  float: right;
  font-size: 20px;
  color:tomato;
  margin-right : 72px;
}
}
