@media (min-width: 768px){
  .tweet-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top:10em;
    z-index: -1;
    
  }
  article{
    margin-top:3em;
    border: 3px solid #545149;
    height: 230px;
    padding: 10px;
    
    
    
  }
  article:hover{
    box-shadow: 10px 5px 5px gold;
  }
  article header img{
    height: 40px;
  }
  .name{
    margin-left: 10px;
  
  }
  .email{
    float: right;
    color: lightgrey;
  }
  article .tweetBody{
  margin-top:40px;
  
  }
  .error{
    border:3px solid red;
    height: 80px;
    color: tomato;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
    display: none;
  }
  .show-Tweets{
    border:none;
    border-bottom: 3px solid #545149;
    background-color:#f4f1ec;
    width: 100%;
    margin:0 auto;
  }
  
  article footer{
    font-size: 20px;
  
  }
  .reactions{
    float: right;
  }
  .reactions i:hover{
    color:gold;
    cursor: pointer;
  }
}

@media (min-width: 1024px){
  .tweet-container{
    position:absolute;
    margin-top: 20em;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    z-index:-1;
    
  }
  article{
  margin-top:2em;
  border: 3px solid #545149;
  height: 230px;
  padding: 10px;
  
  
}
article:hover{
  box-shadow: 10px 5px 5px gold;
}
article header img{
  height: 40px;
}
.name{
  margin-left: 10px;

}
.email{
  float: right;
  color: lightgrey;
}
article .tweetBody{
margin-top:40px;

}
.error{
  border:3px solid red;
  height: 80px;
  color: tomato;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 20px;
  display: none;
}
.show-Tweets{
  border:none;
  border-bottom: 3px solid #545149;
  background-color:#f4f1ec;
  width: 100%;
  margin:0 auto;
}

article footer{
  font-size: 20px;

}
.reactions{
  float: right;
}
.reactions i:hover{
  color:gold;
  cursor: pointer;
}
}